

@model ProductsListViewModel

<h2>All Products</h2>
<br /><br />
<table class="table table-bordered table-light">
    <thead class="fw-bold table-active">
        <tr>
            <td>Product ID</td>
            <td>Name</td>
            <td>Year</td>
            <td>Number of Parts</td>
            <td>Price</td>
            <td style="width: 10px;">Image Link</td>
            <td>Primary Color</td>
            <td>Secondary Color</td>
            <td>Category</td>
            <td>Description</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    @foreach (Product p in Model.Products)
    {
    <tbody>
        <tr>
            <!-- Show Category Name rather than ID in table !-->
            <!-- Since the category is not required, if it missing a category, it is replaced with No Category rather than null for the web view table -->
            <td>@p.product_Id</td>
            <td>@p.name</td>
            <td>@p.year</td>
            <td>@p.num_parts</td>
            <td>$@p.price</td>
            <td style="width: 10px;">@p.img_link</td>
            <td>@p.primary_color</td>
            <td>@p.secondary_color</td>
            <td>@p.category</td>
            <td>@p.description</td>
            <td><a class="btn btn-outline-dark" asp-controller="Home" asp-action="Edit" asp-route-id="@p.product_Id">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@p.product_Id">Delete</a></td>
        </tr>
    </tbody>
    }
</table>
