@model ProductsListViewModel

<h2>All Products</h2>
<a class="btn btn-outline-dark" asp-controller="Home" asp-action="AddProduct">Add Product</a>
<br />
<br />
<style>
    table {
        border-collapse: collapse;
        padding: 10px;
        margin: 0;
        width: 50%;
        table-layout: fixed;
    }

    th, td {
        width: auto;
        text-align: center;
    }

    .img-link-column {
        width: 100px; /* Adjust this width as needed */
        word-wrap: break-word;
    }
</style>
<table class="table table-bordered table-light">
    <thead class="fw-bold table-active">
        <tr>
            <td>Product ID</td>
            <td>Name</td>
            <td>Year</td>
            <td>Number of Parts</td>
            <td>Price</td>
            <td class="img-link-column">Image Link</td>
            <td>Primary Color</td>
            <td>Secondary Color</td>
            <td>Category</td>
            <td>Description</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    @foreach (Product p in Model.Products)
    {
        <tbody>
            <tr>
                <td>@p.product_Id</td>
                <td>@p.name</td>
                <td>@p.year</td>
                <td>@p.num_parts</td>
                <td>$@p.price</td>
                <td class="img-link-column">@p.img_link</td>
                <td>@p.primary_color</td>
                <td>@p.secondary_color</td>
                <td>@p.category</td>
                <td>@p.description</td>
                <td><a class="btn btn-outline-dark" asp-controller="Home" asp-action="Edit" asp-route-id="@p.product_Id">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteProduct" asp-route-id="@p.product_Id">Delete</a></td>
            </tr>
        </tbody>
    }
</table>









