@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel
<header style="background-color: #E74F65" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">
                <img src="aurorabricks-4-8-2024_copy_720.png" alt="Home" class="navbar-brand col-lg-6 col-md-12 col-sm-12" width="800" height="200" />
            </h1>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h3>All Products</h3>
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model.Products)
            {
                <div class="col mb-5">
                    <div class="card h-100 border-0">
                        <partial name="ProductSummary" model="product" />
                    </div>
                </div>

            }
        </div>
    </div>
</section>


<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-projectType="@Model.CurrentProductCategory" class="btn-group pull-right m-1">
@*     <form asp-action="Index" method="get">
    <select name="pageSize" onchange="this.form.submit()">
        <option value="5" @(Model.PaginationInfo.ItemsPerPage == 5 ? "selected" : "")>5</option>
        <option value="10" @(Model.PaginationInfo.ItemsPerPage == 10 ? "selected" : "")>10</option>
        <option value="20" @(Model.PaginationInfo.ItemsPerPage == 20 ? "selected" : "")>20</option>
    </select>
</form> *@
</div>

@* <!-- Product image-->
<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
<!-- Product details-->
<div class="card-body p-4">
    <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">Fancy Product</h5>
        <!-- Product price-->
        $40.00 - $80.00
    </div>
</div>
<!-- Product actions-->
<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
</div> *@


@* <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col mb-5">
        <div class="card h-100">
            @{
                var products = Model.Products.ToList();
                int itemCount = products.Count;
                int halfCount = itemCount / 2;
                var firstHalf = products.Take(halfCount);
                var secondHalf = products.Skip(halfCount);
            }
            <div class="row">
                <div class="col-md-6">
                    @foreach (var product in firstHalf)
                    {
                        <partial name="ProductSummary" model="product" />
                    }
                </div>
                <div class="col-md-6">
                    @foreach (var product in secondHalf)
                    {
                        <partial name="ProductSummary" model="product" />
                    }
                </div>
            </div>
        </div>
    </div>
</div> *@