@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Path to your layout file
}

@model IBRecommendation
<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
            padding-bottom: 20px;
        }

        .product-info {
            display: flex;
            margin-top: 20px;
        }

            .product-info img {
                width: 450px; /* Set a fixed width for the image */
                height: 450px; /* Maintain aspect ratio */
                margin-right: 20px;
                margin-bottom: 20px;
            }


        .back-to-home a {
            display: inline-block;
            padding: 5px 10px;
            margin-top: 20px;
            color: dimgray;
            text-decoration: none;
            border: 2px solid dimgray;
            border-radius: 5px;
        }

        .red-bar {
            background-color: #E74F65;
            height: 5px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="product-info">
            <img src="@ViewBag.Product.img_link" alt="Product Image" />
            <div class="product-details">
                <h2>@ViewBag.Product.name</h2>
                <br />
                <p>Price: $@ViewBag.Product.price</p>
                <p>Description: @ViewBag.Product.description</p>
                <p class="back-to-home"><a href="@Url.Action("Index", "Home")">Back to Home</a></p>
@*                 <form id="@ViewBag.Product.product_Id" method="post" asp-page="/Cart" class="p-3">
                    <input type="hidden" asp-for="@ViewBag.Product.product_Id" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="back-to-home">Add to Cart</button>
                </form> *@
            </div>
        </div>
    </div>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h3>Recommended Products</h3>
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
@*                 @foreach (var ib in Model.IBRecommendations)
                {

                } *@
            </div>
        </div>
    </section>
</body>
<br /><br /><br /><br /><br />
</html>
