@* @* @* @* @* @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Intex2_Bricks.Models.ViewModels.OrdersListViewModel


@{
    ViewData["Title"] = "Predictions";
    var classTypeDict = new Dictionary<int, string> 
    {
        { 0, "Not Fraud" },
        { 1, "Fraud" }
    };
}

<style>
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05); /* Add a background color to odd rows */
    }

    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: #fff; /* Add a background color to even rows */
    }

    .table-striped > tbody > tr > td,
    .table-striped > tbody > tr > th {
        border: 1px solid #dee2e6; /* Add border to table cells */
    }

    .table-striped > thead > tr > th {
        border-bottom-width: 2px; /* Add border to table header */
    }

    .table-striped {
        border-collapse: collapse; /* Collapse table borders */
        width: 100%; /* Set table width to 100% */
    }

    .table-responsive {
        overflow-x: auto;
    }

    .full-width-table {
        margin-left: -50px;
        margin-right: 0;
    }

    .table {
        width: auto;
        margin-bottom: 0;
    }

    .prediction-cell {
        background-color: #e0f2f1;
    }
</style>
<h2>Predictions for most recent 20 orders</h2>
<h5>Scroll down to view only orders that are predicted to be fraud</h5>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>TransactionId</th>
            <th>CustomerId</th>
            <th>Date</th>
            <th>Day Of The Week</th>
            <th>Time (Military Time)</th>
            <th>Entry Mode</th>
            <th>Amount</th>
            <th>Type Of Transaction</th>
            <th>Country Of Transaction</th>
            <th>Shipping Address</th>
            <th>Bank</th>
            <th>Type Of Card</th>
            <th>Fraud</th>
            <th class="prediction-cell">Fraud Prediction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.transaction_Id</td>
                <td>@item.customer_Id</td>
                <td>@item.date</td>
                <td>@item.day_of_week</td>
                <td>@item.time</td>
                <td>@item.entry_mode</td>
                <td>@item.amount</td>
                <td>@item.type_of_transaction</td>
                <td>@item.country_of_transaction</td>
                <td>@item.shipping_address</td>
                <td>@item.bank</td>
                <td>@item.type_of_card</td>
                <td>@item.fraud</td>
                <td class="prediction-cell">@item.Prediction</td>
            </tr>
        }
    </tbody>
</table>
