@using Intex2_Bricks.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order

<table class="table">
    <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Date</th>
        <th>Day of Week</th>
        <th>Time</th>
        <th>Entry Mode</th>
        <th>Amount</th>
        <th>Type of Transaction</th>
        <th>Country of Transaction</th>
        <th>Shipping Address</th>
        <th>Bank</th>
        <th>Type of Card</th>
        <th>Fraud</th>
        <th>Fulfilled</th>
    </tr>
    <tr>
        <td>@Model.transaction_Id</td>
        <td>@Model.customer_Id</td>
        <td>@Model.date</td>
        <td>@Model.day_of_week</td>
        <td>@Model.time</td>
        <td>@Model.entry_mode</td>
        <td>@Model.amount</td>
        <td>@Model.type_of_transaction</td>
        <td>@Model.country_of_transaction</td>
        <td>@Model.shipping_address</td>
        <td>@Model.bank</td>
        <td>@Model.type_of_card</td>
        <td>@Model.fraud</td>
        <td>@Model.fulfilled</td>
    </tr>
</table>
