@using Intex2_Bricks.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order


<tr>
    <td>@Model.transaction_Id</td>
    <td>@Model.customer_Id</td>
    <td>@Model.date</td>
    <td>@Model.day_of_week</td>
    <td>@Model.time</td>
    <td>@Model.entry_mode</td>
    <td>@Model.amount</td>
    <td>@Model.type_of_transaction</td>
    <td>@Model.country_of_transaction</td>
    <td>@Model.shipping_address</td>
    <td>@Model.bank</td>
    <td>@Model.type_of_card</td>
    <td>@Model.fraud</td>
    <td>@Model.fulfilled</td>
</tr>
